.box {
    width: 1495px;
    height: 5853px;
  }
  
  .box .group {
    position: fixed;
    width: 1495px;
    height: 5853px;
    top: 0;
    left: 0;
  }
  
  .box .header {
    width: 1495px;
    background-color: transparent;
  }
  
  .box .bng-menu {
    position: relative;
    width: 1495px;
    height: 5853px;
    background-color: #7b86a84c;
  }